html {
    text-align: center;
}

#game {
    margin: 0 auto;
    width: 250px;
}

.button {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    float: left;
}

#button1 {
    background-color: red;
}

#button2 {
    background-color: yellow;
}

#button3 {
    background-color: green;
}

#button4 {
    background-color: blue;
}
